%h1 Welcome to TheLJWedding site backend!
%p.lead You can edit the wedding's information, check the status on the cookbook and RSVPs, send text/email blasts, and review your guest list!
%p Get started with the navigation on the left.