.alert-notice {
  background-color: #6DB151;
  border-color: #d6e9c6;
  color: white;
}

.alert-alert {
  background-color: #3E9CE5;
  border-color: #ebccd1;
  color: white;
}

.alert-home-page {
  font-size: 16px;
  padding: 24px;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

.fade {
   opacity: 0;
   -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
       -ms-transition: opacity 0.3s linear;
        -o-transition: opacity 0.3s linear;
           transition: opacity 0.3s linear;
 }
