%footer
  .container
    .row
      .col-md-12
        %hr.dark
    .row
      .col-md-12
        .circle-2
          .table-cell
            %h1.fittext1 Lauren & Jordan
            %h2.fittext2 Wedding
            %h3.fittext3 8.8.2015